<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloudbites">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloudBites.NoActionBar">
        <activity android:name=".activities.PlacedOrderActivity" />
        <activity android:name=".activities.NavCategoryActivity" />
        <activity android:name=".activities.DetailedActivity" />
        <activity android:name=".activities.ViewAllActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.CloudBites.NoActionBar" />
    </application>

</manifest>